# Compiled class file
*.class

# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/

# build folders
bin/
target/
nbproject/private/
build/
nbbuild/
dist/
nbdist/ 
